.container {
    width: 400px;
    border: 1px solid green;
}
h1 {
    color: red;
}
.first {
    color: green;
}
.second {
    color: red;
}
.third {
    color: blue;
}
.four {
    color: red;
}
.input {
    color: red;
}
.input {
    border-color: red;
}
.five {
    color: green;
    width: 200px;
    height: 50px;
    border-color: green;
}
